button{

    padding: 10px 20px;
      font-size: 1rem;
      font-weight: 600;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s;
}

.aniversario{color: blue;}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.titulo{color: white;
}

.escala {
    grid-area: escala;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .container-cabecalho {
    display: flex;
    align-items: center;
}


img {
    width: 60px;
    border-radius: 50%;
    margin: 20px;
}

.menu {
    display: flex;
    margin: 40px;

}

.menu li {
    margin: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    
}

a:hover {
    background-color: blue;
    color: white;
    border-radius: 7px;
    transition: 0.8s;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
   
}


ul {
    list-style: none;
}

.head-tabela th {
    font-size: 32px;
    border: solid 3px blue;
    text-align: center;
    width: 100vw;
    color: aliceblue;
    font-weight: 900;


}

.corpo-tabela td {
    font-size: 32px;
    border: solid 3px blue;
    text-align: center;
    color: gold;
    font-weight: 400;
   

}

.piscar{
    color: white;
}


html {
    background-color: black;
   
}


@media(max-width: 425px) {

html{background-color: black;}



.titulo{color: white;}

    .titulo {
        font-size: 26px;
        color: white;
    }

    .header {
        display: block;
        padding: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .tabela {
        overflow-x: auto;
    }

    .head-tabela th {
        color: white;
        font-size: 16px;
    }

    .corpo-tabela td {
        font-size: 16px;
        color: gold;
    
    }

    html {
        background-color:black;
    }

    .menu {
        display: block;
        text-align: center;

    }

    .menu li {
        margin-top: 60px;
    }

    .menu a {
        color: #25D366;
        font-weight: 800;
    }
    
    .piscar{
        color: white;
    }
}